{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- if site.Params.analytics.baidu.SiteVerificationTag }}
<meta name="baidu-site-verification" content="{{ site.Params.analytics.baidu.SiteVerificationTag }}" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?"+"{{ site.Params.analytics.baidu.tongjicode }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{- end }}
<!-- Umami Web Analytics -->
{{- if .Site.Params.analytics.umami.enable }}
<script defer data-website-id="{{ .Site.Params.analytics.umami.website_id }}" src="{{ .Site.Params.analytics.umami.url }}"></script>
{{- end }}
<!-- Cloudflare Web Analytics -->
{{- if .Site.Params.analytics.cloudflare.enable }}
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ .Site.Params.analytics.cloudflare.token }}"}'>
</script>
{{- end }}
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<meta name="sogou_site_verification" content="iwkYDJrzfK" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7249159446737834"
     crossorigin="anonymous"></script>
{{- /* Head custom content area end */ -}}
